
.question-drop-down {
  display:none;
}


.pback-form-panel {
  display:none;
}


.active-pback-delete-panel {
  display:none;
}


.question-name, .question-title{
  font-weight: bold;
}


.table-borderless td, .table-borderless th {
    border: 0 !important;
}
